.ArticleList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.BIG {
  .card {
    width: 100%;
    margin-bottom: 0;
  }
}

.SMALL {
  .card {
    min-width: 250px;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
