.ListBox {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;

  button {
    padding: 6px 10px; // ✅ добавить паддинг
    text-align: center; // ✅ выравнивание текста
    border: 1px solid var(--primary-color); // ✅ рамка как у инпута
    border-radius: 4px; // ✅ скругление
    background: var(--bg-color);
    color: var(--primary-color);
  }
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
  padding: 10px 20px;
  list-style: none;
}

.active {
  background: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.8;
}

.optionsTop {
  bottom: 100%;
}

.readonly {
  opacity: 0.8;
  pointer-events: none; // ✅ запрещает взаимодействие

  .label {
    opacity: 0.8;
  }
}
