.CommentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
}

.text {
  margin-top: 10px;
  word-break: break-word;
}

.username {
  margin-left: 10px;
}
